<!DOCTYPE html>
<html>
<head>
	<title>User List</title>
</head>
<body>
	<div>
			<h2>User List</h2> 		
	</div>

	<!-- <a href="/home">Back</a>| -->
    <a href="/logout">Logout</a><br>
    <a href="/admin/home">home</a><br>
    

	<table border="1">
		<tr>
			<td>ID</td>
			<td>name</td>
		</tr>
	<% for(var i=0; i < userlist.length; i++){ %>
		<tr>
			<td><%= userlist[i].p_id %></td>
			<td><%= userlist[i].p_name %></td>
			<td>
				<a href="/admin/delete/<%= userlist[i].p_id %>">DELETE</a> 
			</td>
		</tr>
	<%  } %>
	</table>

</body>
</html>